/* .coursesCard {
    padding: 50px 0;
    
  }
  .coursesCard .items {
    background-color: #fff;
    padding: 30px;
    text-align: center;
  }
  .coursesCard .img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color:orange;
    padding: 15px;
  }
  .coursesCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .coursesCard .text {
    margin-left: 15px;
    text-align: left;
  }
  .coursesCard .text h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
  }
  .coursesCard .rate {
    margin: 20px 0;
    color: orange;
  }
  .coursesCard .rate i {
    font-size: 13px;
    margin-right: 5px;
  }
  .coursesCard .details .dimg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .coursesCard .details .box {
    display: flex;
    align-items: center;
    color: grey;
  }
  .coursesCard .details span {
    color:orange;
    font-weight: 500;
    font-size: 14px;
  }
  .coursesCard .price {
    margin: 30px 0;
    background-color: #f8f8f8;
    padding: 10px;
  }
  .coursesCard h3 {
    font-weight: 500;
    color: goldenrod;
  } */
  /*-------------online---------*/
   .online {
    padding-top: 7rem;
    padding-bottom: 70rem;
     }
  
  
   .online .box {
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
    background-color: #fff;
    padding: 30px 20px;
    transition: 0.5s;
    
  }
  .online .img {
    width: 220px;
    height: 220px;
    margin: auto;
    position: relative;
  }
  .online img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content grid3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container-mycourse{
    max-width: 85%;
    margin: 10px;
  
  }

  .online h1 {
    text-align: center;
    padding-top: 1rem;
    
    font-weight: 500;
    font-size: 20px;
    margin: 20px 0;
    line-height: 30px;
  } */
  /* .online span {
    background-color: #f8f8f8;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 15px;
    color: orange;
    border-radius: 5px;
  } */
  .online .box .show {
    opacity: 0;
  }
  .online .box:hover {
    background-color:orange;
    border-radius: 5px;
    cursor: pointer;
  }
  .online .box:hover .show {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .online .box:hover h1 {
    color: #fff;
  }
  .enroll{
    background-color: #f8f8f8;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 25px;
    color: orange;
    border-radius: 5px;
    
  } 
 
  /*-------------online---------*/
  /* @media screen and (max-width: 768px) {
  } */
  