/*---------head----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,900&display=swap');
.head{
  padding: 20px 0;
  color:white;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  

}

.intro {
  color: orange;
  font-size: 35px;
  font-weight: 900;
}

.head .icon {
  margin-left: 10px;
}

.companyname{
  display: flex;
}
.eth {
  padding-top: 20px;
  padding-left: 10px;
}
.companyname span{
  font-size: 10px;
  margin-top: 20px;
}

/*---------header----------*/
header{
  background-color: black;
  margin: 0 12px;
}

header ul{
  padding: 30px 20px;
}

header li{
  margin-right: 40px;
}

header ul li a{
  color: white;
  font-weight: 500;
  transition: 0.5s;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', 'sans-serif';
  font-weight: 500;
  letter-spacing: 0.5px;
}

header ul li a:hover{
  color: rgb(241, 165, 23);
}

.start{
  background-color: orange;
  padding: 30px 70px;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}
.start .button{
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', 'sans-serif';
  font-weight: 500;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}

.toggle{
  display: none;
}
  
@media screen and (max-width:768px){
  .start{
      clip-path: none;
  }
  header{
      margin: 0;
      background-color: orange;
      position: relative;
  }
  header ul.flexSB{
     display: none;
    
  }
  header ul li{
      margin-bottom: 20px;
  }
  .toggle{
      display: block;
      background: none;
      color: #fff;
      font-size: 30px;
      position: absolute;
      right: 30px;
      top: -20px;
      width: 40px;
  }
  .modilenav{
      position: absolute;
      top: 7vh; left: 0;width: 100%;
      background-color: orange;
  }
}

