
  footer {
    background-color: #202232;
  }
  footer .containerr {
    display: grid;
    grid-template-columns: 4fr 3fr 3fr;
    grid-gap: 30px;

  }
  .CompanyLogo{
    margin:  0;
    display: inline;
    /* width:350px; */
    height:60px;
  }
  @media screen and (max-width: 768px) {
    footer .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  footer .logo span {
    color: orange;
    font-size: 14px;
  }
  footer .logo p {
    color: grey;
    margin: 30px 0 15px 0;
  }
  footer .logo .icon {
    background-color: white;
    color: orange;
    margin-right: 10px;
  }
  footer h3 {
    margin-bottom: 40px;
    font-weight: 500;
    color:white;
  }
  footer ul li {
    margin-bottom: 20px;
    color: white;
  }
  footer .link li::before {
    
    color: orange;
    margin-right: 5px;
  }
  footer .items {
    margin-bottom: 30px;
  }
  footer .items img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
    object-fit: cover;
  }
  footer .items span,
  footer .items i {
    font-size: 12px;
    color: orange;
    margin-right: 5px;
    text-transform: capitalize;
  }
  footer h4 {
    font-weight: 400;
    margin-top: 5px;
   
  }
  footer .last ul li {
    display: flex;
    margin-bottom: 50px;
    color: white;
  }
  footer .last i {
    width: 60px;
    font-size: 20px;
    color: orange;
  }
  .legal {
    text-align: center;
    padding: 50px 0;
    color: white;
    background-color: orange;
  }
  .legal p {
    font-size: 15px;
  }
  .legal i {
    color: orange;
  }
  