@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,800;1,100;1,700&display=swap');
.hero {
    background-image: url("../../../../public/images/elearning2.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 20%;
    padding-right: 50px;
    color:black;
    
  }
  
  .hero #heading h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: black;
    margin-top: 22px;
    font-style: italic;
    font-weight: bold;
  }
  .hero #heading {
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .row p{
     margin-top: 30px;
     font-family: 'Poppins', sans-serif;
     font-weight: 500;
     margin-bottom: 40px;
  }
  @media screen and (max-width: 768px) {
    .margin {
      height: 40vh;
    }
    .hero {
      background-position: right;
      padding-top: 50%;
      height: 80vh;
    }
    .hero .row {
      width: 100%;
    }
  }