.testimonyMessageStyle{
    max-width: 250px;
    font-weight: 300;
    font-size: medium;
  }
  
  
  .ourCoursesContainer {
    /* height: 100vh; */
    width: 100%;
    background-color:#202232 ;
    text-align: center;
    padding: 40px;
    color: white;
    margin: auto auto 20px auto;
  }
  .OurCoursesInnerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .promoSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    height: 80px;
    background-color: orange;
    border: #202232 solid 2px;
    border-radius: 10px;
  }
  
  .ourCoursesHeading {
    color: black;
    background-color: white;
    width: 300px;
    height: 50px;
    font-size: x-large;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin: 10px auto;
  }
  
  .ourCoursesHeading:hover{
    background-color: orange;
    color: white;
  }
  
  .exploreCourses{
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
  }
  
  .enrollContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
    /* align-items: center; */
  }
  
  .courseCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
    height: 350px;
    max-height: 350px;
    max-width: 300px;
    border: orange 3px solid;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  }
  
  .courseCard:hover{
    border: white 3px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  
  
  }
  
  .courseCard img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
    /* margin: auto 10px; */
  }
  
  .courseCard h3{
    max-width: 250px;
    margin: 10px auto;
  }
  
  .enrollNowButton{
    align-self: flex-end;
    color: white;
    background-color: orange;
    width: 200px;
    height: 50px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  
  }
  .enrollNowButton:hover{
    background-color: white;
    color: black;
  }
  